{% extends "base.html" %}

{% block content %}
    <div class="index-container" style="text-align: center; display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items: center;">
        {% for tip in tipsdata %}
        <a class="card-link" href="#">
            <div class="card" style="width: 17rem; margin: 1rem 0.3rem 0.5rem 0;">
                <img src="{{ tip.img }}" class="card-img-top" alt="">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="index-level-id" style="text-decoration: none !important; text-align: center; font-size: 1.5rem !important;">
                        {{ tip.title }}
                    </p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}